body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(243, 226, 226);
}

.nav-bar{
  background-color: rgb(247, 243, 243);
}
.our-product{
  list-style: none;
}
.our-product li {
cursor: pointer;
padding: 5px;
padding-bottom: 0px;
border-radius: 10px;
transition: 2s ;
}
.our-product li:hover{
background-color: gray;
}

.landing-banner h1{
  font-size: 9vmin;
  font-weight: 800;

}
.landing-banner p{
font-size: 3vmin;
padding: 0px;
margin: 0px;
}
.landing-banner {
  background-color: rgb(243, 226, 226);
  
}

.p-div{
  padding: 20px 0px;
  
}


.btn-start{
  background-color: rgb(69, 185, 69);
  font-size: 30px;
  border: none;
  border-radius: 10px;
  color: white;
}
.btn-watch{
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: green;

}
.outer{
  margin-top: 20px;
}
/* service page styles */
.service-page{
  background-color: whitesmoke;
}

@media screen and (max-width: 600px) {
  .get-started {
   
  }
}